* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

input,
button {
  outline: none;
}

button {
  cursor: pointer;
}

.App {
  position: relative;
  min-width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  padding-top: 80px;
  /* overflow-y: hidden; */
  /* background-color: #837663; */
  background-color: rgb(255, 255, 255);
  color: white;
}

a,
p,
span,
button {
  transition: 0.2s color;
}

a {
  text-decoration: none;
  color: black;
}

svg:hover {
  color: black;
}

*::-webkit-scrollbar {
  border: none;
}

*::-webkit-scrollbar-thumb {
  background: rgb(168, 150, 116);
  border-radius: 100vh;
  border: 3px solid white;
}
